# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Uploads
temp_uploads/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite

legal-risk/
models/
.README.md
tst_script.py
.venv/
